* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto-regular';
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts/Roboto-Medium.ttf');
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin boxShadow {
  box-shadow: 0 4px 11px #61c8bb;
}

$red: #f03232;
$aqua: #0de6cb;
$aqua-light: #c9fff8;
$black: #515151;

body {
  color: $black;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

.error {
  text-align: center;
  margin: 10px;
  width: 100%;
}

.error {
  color: #ff6666;
}

// Posts
.post,
.dropdown-content {
  @include boxShadow();
}

// Burger Menu.
.burgerMenu {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 100;

  div {
    width: 35px;
    height: 3px;
    background-color: $aqua;
    margin: 6px;
  }
}

// input
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  label {
    font-size: 17px;
    text-align: left;
    margin-bottom: 5px;
  }

  input,
  .fileButton,
  textarea {
    background-color: $aqua-light;
    border: 0;
    color: $black;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 13px;
    transition: 0.08s ease;

    &::placeholder {
      color: rgba(81, 81, 81, 0.5);
    }

    &:focus {
      box-shadow: 0px 0px 10px #0bc9b3;
    }
  }

  .fileButton {
    cursor: pointer;
    color: rgba(81, 81, 81, 0.5);
    display: flex;
    justify-content: center;
    width: 130px;
    border-radius: 13px;
    padding: 10px;

    p {
      margin-right: 5px;
    }

    img {
      margin-left: 5px;
    }
  }

  textarea {
    min-height: 66px;
    resize: vertical;
  }
}

// forms
.form-section {
  margin-top: 100px;

  .auth-nav {
    border-radius: 0 0 10px 10px;
    text-align: center;
  }

  form {
    margin: 0 auto;
    max-width: 550px;
    border-radius: 30px;
    @include boxShadow();
    padding: 50px 70px;
    text-align: center;

    .postImage {
      width: 100%;
      height: 250px;
      object-fit: contain;
      border-radius: 20px;
      margin-bottom: 10px;
    }

    .spinner {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: 30px;
      text-align: center;
    }
  }

  .inputContainer {
    margin-bottom: 30px;
  }

  .form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    padding-bottom: 40px;
    @include boxShadow();
    border-radius: 40px;
    background: white;

    form.auth-form {
      box-shadow: 0 0px 0px white;
      padding-bottom: 30px;
    }
  }
}

.col {
  width: 124px;
}

// links
a {
  text-decoration: none;
  color: $black;
}

a .nav-link p,
.auth-nav a {
  position: relative;

  &::after {
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $aqua;
  }

  &:hover::after {
    width: 100%;
  }
}

.page-wrapper {
  min-height: 95vh;
  padding-top: 85px;
}

.btn {
  color: white;
  text-shadow: 0 1px 5px rgba(225, 225, 225, 0.5);
  border: none;
  font-size: 17px;
  padding: 10px 30px;
  border-radius: 31px;
  background-color: $aqua;
  box-shadow: 0 0 3px $aqua;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    box-shadow: 0 0 10px $aqua;
  }
}

.btn-danger {
  background-color: $red;
  box-shadow: 0 0 3px $red;
  &:hover {
    box-shadow: 0 0 10px $red;
  }
}

// Nav Bar
.nav-container {
  padding: 20px 50px;
  border-bottom: 3px solid $aqua;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;

  nav {
    @include flexBetween();
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      @include flexBetween();

      p {
        text-transform: uppercase;
        font-family: 'roboto-medium';
        font-size: 20px;
      }

      img {
        margin-right: 20px;
        width: 45px;
      }
    }

    .rightArrowBtn {
      width: 25px;
      cursor: pointer;
      display: none;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      right: 5px;
    }

    .nav-links {
      @include flexBetween();
      list-style: none;

      .nav-link {
        margin-right: 20px;
        color: $black;
      }

      .nav-link.profile {
        @include flexBetween();

        img {
          object-fit: cover;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-left: 7px;
        }
      }

      .btn.logout {
        @include flexBetween();
        gap: 10px;

        img {
          width: 17px;
        }
      }

      .burgerMenu {
        div {
          width: 100px;
          height: 5px;
          background-color: $aqua;
        }
      }
    }
  }
}

// Footer
footer {
  background-color: $aqua-light;
  height: 5vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Welcome
header {
  @include flexBetween();
  padding: 70px 0;

  .intro-container {
    h1 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  .img-container {
    img {
      width: 380px;
    }
  }
}

.about {
  margin-bottom: 20px;

  .section-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
  }

  img {
    width: 250px;
  }

  .about-container {
    @include flexBetween();

    p {
      font-size: 15.5px;
      max-width: 460px;
    }
  }
}

// Auth
.form-section .auth-nav {
  a {
    cursor: pointer;
    margin: 6px;
  }

  a.active {
    &::after {
      width: 100%;
    }
  }

  span {
    color: $aqua;
    font-size: 20px;
  }
}

// Profile
.userProfile {
  max-width: 1100px;
  padding-left: 60px;
  margin: 50px auto;

  .userContainer {
    display: flex;

    .left {
      position: fixed;

      .userImage {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      .userName {
        font-size: 25px;
        margin-bottom: 10px;
      }

      .userBio {
        margin-bottom: 9px;
        max-width: 400px;
      }

      .userBio,
      .other {
        font-size: 15px;
      }

      .other {
        margin-bottom: 30px;
        display: flex;

        div {
          display: flex;
          align-items: center;
        }

        .location {
          margin-right: 25px;
        }

        img {
          width: 20px;
          color: $black;
          margin-right: 5px;
        }
      }
    }

    .right {
      padding: 0 20px;
      width: 60%;
      margin-left: auto;

      .posts {
        padding: 0;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          margin: 14px 0 20px 0;

          p {
            margin-right: 10px;
            display: inline;
          }

          img {
            width: 16px;
          }
        }

        .title {
          text-align: center;
          font-size: 25px;
        }

        .otherUserTitle {
          margin-bottom: 8px;
        }
      }

      @media screen and (max-width: 1000px) {
        .title {
          font-size: 19px;
        }

        .btn img {
          width: 12px;
        }
      }
    }
  }
}

// ---------------MEDIA-QUERIES----------------
@media screen and (max-width: 1000px) {
  .error {
    font-size: 12px;
  }

  .col {
    display: none;
  }

  header {
    padding: 100px 0;
    display: block;
    text-align: center;

    .intro-container {
      padding: 0 10px;

      h1 {
        font-size: 19px;
        margin-bottom: 5px;
      }

      p {
        font-size: 11px;
        margin-bottom: 20px;
      }
    }

    .img-container {
      display: none;
    }
  }

  .about {
    margin-bottom: 10px;

    img {
      width: 160px;
    }

    .section-title {
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 20px;
      margin-bottom: 5px;
    }

    .about-container {
      display: block;
      text-align: center;
      padding: 0 30px;
      p {
        font-size: 11px;
        margin: 0 auto;
      }
    }
  }

  .btn {
    font-size: 13px;
    padding: 6px 15px;
  }

  .nav-container {
    padding: 10px 25px;

    nav {
      max-width: 700px;

      .logo {
        p {
          font-size: 13px;
        }

        img {
          width: 30px;
          margin-right: 13px;
        }
      }

      .links-container {
        transform: translateX(100%);
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        background-color: #b8faf1;
        border-radius: 15px 0 0 15px;
        height: 100vh;
        width: 65%;
        transition: all 0.3s ease;
        border: 3px solid $aqua;

        .btn {
          font-size: 15px;
          padding: 10px 20px;
          margin-bottom: 25px;
          position: absolute;
          bottom: 0;
        }

        .rightArrowBtn {
          display: block;
        }

        .nav-links {
          flex-direction: column-reverse;

          a {
            width: 100%;

            .nav-link {
              margin: 0;
              transition: all 0.15s ease;

              &:not(.profile) {
                padding: 20px;
                font-size: 15px;

                &:hover {
                  background-color: $aqua;
                  color: $aqua-light;
                }
              }

              p {
                &:hover::after {
                  width: 0%;
                }
              }
            }

            .nav-link.profile {
              position: relative;
              display: flex;
              justify-content: center;
              font-size: 18px;
              font-family: 'roboto-regular';
              border-bottom: 3px solid $aqua;
              padding: 12.5px;

              p {
                font-size: 15px;
              }

              img {
                width: 25px;
                height: 25px;
              }
            }
          }

          a.router-link-active .nav-link p {
            font-weight: bold;
          }
        }
      }

      .links-container.active {
        transform: translateX(0%);
      }

      .burgerMenu {
        display: block;
      }
    }
  }

  .page-wrapper {
    min-height: 96vh;
    padding-top: 53px;
  }

  // User Profile
  .userProfile {
    text-align: center;
    padding: 0;

    .userContainer {
      flex-direction: column;

      .left {
        position: relative;

        .userImage {
          width: 150px;
          height: 150px;
        }

        .userName {
          font-size: 20px;
        }

        .userBio {
          font-size: 12px;
          margin: 0 auto;
          margin-bottom: 15px;
        }

        .other {
          justify-content: center;
          margin-bottom: 20px;

          div {
            font-size: 12px;
          }

          .location {
            margin-right: 20px;
          }

          img {
            width: 17px;
          }
        }
      }

      .right {
        border-top: 2px solid $aqua;
        padding-top: 10px;
        width: 100%;
        margin: 20px auto;

        .wrapper {
          .otherUserTitle {
            margin-bottom: 20px;
          }

          .title {
            font-size: 18px !important;
          }
        }
      }
    }
  }

  // Form
  .form-section {
    margin-bottom: 20px;

    form {
      padding: 30px 45px;
    }

    .form-wrapper {
      max-width: 350px;

      h1 {
        font-size: 22px;
      }

      button {
        margin-top: 30px;
      }

      .auth-nav a {
        font-size: 13px;
      }
    }
  }

  .inputContainer {
    margin-top: 25px;

    label {
      font-size: 13px;
    }

    input {
      padding: 8px;
      font-size: 11px;

      &:focus {
        box-shadow: 0px 0px 6px #0bc9b3;
      }
    }
  }

  footer {
    height: 4vh;
    padding: 15px 0;

    p {
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 1000px) {
  a.router-link-active .nav-link p {
    &::after {
      width: 100%;
    }
  }
}

// ScrollBar
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $aqua;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #108679;
}
